<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/wordstyle.css">
        
        
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1>Word List Application: Abdikhaliq Farah</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        {% block footer %}
        <footer>
            <a href="https://github.com/farah137/word-app">Github Repo</a>
        </footer>
        {% endblock %}

        {% block wordjavascript %}
        {% endblock %}
    </body>
</html>
